/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Estilos del formulario */
form {
    flex: 1;
    background: #fff;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

video, canvas {
    width: 100%;
    margin-bottom: 15px;
    display: none; /* Ocultar por defecto */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 1%;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    display: flex;            /* Flexbox para centrar elementos */
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical (opcional) */
    margin: 0 auto;           /* Centrar con márgenes automáticos */
}

button:hover {
    background-color: #0056b3;
}

.OpenCam_ {
    display: flex;            /* Flexbox para centrar elementos */
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical (opcional) */
    margin: 0 auto;           /* Centrar con márgenes automáticos */
}

.OpenCam {
    background-color: #007BFF; /* Color de fondo */
    color: #fff;              /* Color del ícono */
    border: 2px solid #fff;   /* Borde blanco */
    padding: 10px;            /* Espaciado interno */
    border-radius: 50%;       /* Bordes redondeados (botón circular) */
    cursor: pointer;          /* Cambia el cursor al pasar el mouse */
    width: 50px;              /* Ancho del botón */
    height: 50px;             /* Alto del botón */
    display: flex;           /* Para centrar el ícono */
    align-items: center;     /* Centrado vertical */
    justify-content: center;  /* Centrado horizontal */
    margin: 0 auto;
    margin-bottom: 10%;
    font-size: 18px;          /* Tamaño del ícono */
    
}

.OpenCam:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

footer{
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: 10%;
}